

      <div class="community_main_wrapper">
        <div class="community_main_left">

          <div class="community_description">
            <h2>コミュニティの説明</h2>
            <div class="community_description_text">
              <p>Arc+<br><br>
                音楽とアートのフェスティバル：<br>

              </p>
            </div>
          </div>

          <div class="community_main_event">
            <div class="community_event_status">
              <h2>次回のイベント</h2>
            </div>

            <div class="community_event">
              <div class="community_event_image">
                <img src="blueSmoke.jpg" alt="">
              </div>
              <div class="community_event_separator"></div>
              <div class="community_event_text">
                <h2>音楽とアートのフェスティバル」</h2>
                <p class="community_event_description">Ruby使ってみんなでもくもく会</p>
                <div class="community_event_info">
                  <p class="community_event_place"><i class="material-icons">room</i>GVH Osaka</p>
                  <img src="logo.png" alt="owner_img">

                </div>
                <div class="community_event_time">
                  <p>2019年</p>
                  <p>12月</p>
                  <p>12日</p>
                  <p>18:00～</p>
                </div>
              </div>
            </div>

            <div class="community_event">
              <div class="community_event_image">
                <img src="blueSmoke.jpg" alt="">
              </div>
              <div class="community_event_separator"></div>
              <div class="community_event_text">
                <h2>Ruby on Rail勉強会</h2>
                <p class="community_event_description">Ruby使ってみんなでもくもく会</p>
                <div class="community_event_info">
                  <p class="community_event_place"><i class="material-icons">room</i>GVH Osaka</p>
                  <img src="logo.png" alt="owner_img">
                  <p class="community_event_organizer">株式会社 Gude</p>
                </div>
                <div class="community_event_time">
                  <p>2019年</p>
                  <p>12月</p>
                  <p>12日</p>
                  <p>18:00～</p>
                </div>
              </div>
            </div>

            <div class="community_event">
              <div class="community_event_image">
                <img src="blueSmoke.jpg" alt="">
              </div>
              <div class="community_event_separator"></div>
              <div class="community_event_text">
                <h2>Ruby on Rail勉強会</h2>
                <p class="community_event_description">Ruby使ってみんなでもくもく会</p>
                <div class="community_event_info">
                  <p class="community_event_place"><i class="material-icons">room</i>GVH Osaka</p>
                  <img src="logo.png" alt="owner_img">
                  <p class="community_event_organizer">株式会社 Gude</p>
                </div>
                <div class="community_event_time">
                  <p>2019年</p>
                  <p>12月</p>
                  <p>12日</p>
                  <p>18:00～</p>
                </div>
              </div>
            </div>

            <div class="community_event_status">
              <h2>開催したイベント</h2>
            </div>

            <div class="community_event">
              <div class="community_event_image">
                <img src="blueSmoke.jpg" alt="">
              </div>
              <div class="community_event_separator"></div>
              <div class="community_event_text">
                <h2>Ruby on Rail勉強会</h2>
                <p class="community_event_description">Ruby使ってみんなでもくもく会</p>
                <div class="community_event_info">
                  <p class="community_event_place"><i class="material-icons">room</i>GVH Osaka</p>
                  <img src="logo.png" alt="owner_img">
                  <p class="community_event_organizer">株式会社 Gude</p>
                </div>
                <div class="community_event_time">
                  <p>2019年</p>
                  <p>12月</p>
                  <p>12日</p>
                  <p>18:00～</p>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="community_main_right">
          <div class="community_main_right_inner">
            <button class="community_main_enterButton" type="button" name="button">
            <% if current_user.groups_joining?(@group)%>
            <%= form_for(current_user.user_groups.find_by(group_id: @group.id),
             html: { method: :delete }) do |f| %>
              <%= f.submit "退出",class: "community_main_enterButton" %>
              <% end %>
            <% else %>
              <%=form_for(current_user.user_groups.build)do |f|%>
                <div><%= hidden_field_tag :group_id, @group.id%></div>

                <%=f.submit "参加する",class: "community_main_enterButton"%>
              <% end %>
            <% end %>

            </button>
            <%= link_to "チャットルーム作成", new_room_path %>
            <%= link_to "チャットルーム一覧", rooms_path %>


            <div class="community_members">
              <h3>メンバー</h3>
              <%= @users.count %>
            </div>
            </div>
          </div>
        </div>
