
        <!-- ここから使用 -->

          <div class="community_profile_wrapper">

              <div class="community_profile_text">
                <h1><%= @group.name %></h1>

              </div>
            </div>


          <div class="community_main_wrapper">
            <div class="community_main_left">

              <div class="community_description">
                <h2>コミュニティの説明</h2>
                <div class="community_description_text">
                  <p><%= @group.description %>
                  </p>
                </div>
              </div>
            </div>
          </div>
<%= render :partial => "room/show" %>

            <div class="community_main_right">
              <div class="community_main_right_inner">

                  <% if current_user.groups_joining?(@group)%>
                  <div><%= form_for(current_user.user_groups.find_by(group_id: @group.id),
                   html: { method: :delete }) do |f| %></div>

                    <%= f.submit "退出",class:"community_main_enterButton"  %>
                  <% end %>
                  <% else %>
                    <%=form_for(current_user.user_groups.build)do |f|%>
                      <div><%= hidden_field_tag :group_id, @group.id %></div>
                      <%=f.submit "参加する", class: "community_main_enterButton" %>
                    <% end %>
                  <% end %>
                  <%= button_to "トークルーム一覧",rooms_path,:method => :get %>

                <% if @group.owner !=nil %>
                <%=button_to "コミュニティを編集する",edit_group_path,:method => :get %>
                <%= button_to "トークルーム作成",new_room_path,:method =>:get %>
                 <% end %>
                <%= button_to "イベント作成", new_event_path, :method => :get  %>
                <%= button_to "コミュニティ一覧",groups_path,:method => :get %>


                <div class="community_members">
                  <h3>メンバー</h3>

                  <% @users.each do |user|%>
                   <p>＊<%=user.name %></p>
                  <% end %>

                  <div class="community_members_images">
                    <div class="community_members_images_line">
                      <a href="#">
                        <img src=<%=current_user.image%> alt="">
                      </a>
                    </div>
                  </div>
                </div>

                </div>
              </div>
