<div class="user_wrapper">
    <div class="user_detail_container">
      <header>
          <h1>プロフィール</h1>
      </header>
      <div class="content">
          <section class="information">
              <h1><%=@user.name%></h1>
              <p class="type">Name</p>
              <div class="description">

                  <a href="#"><img src=<%=@user.image%> alt="プロフィール画像"></a>
                  <p class="stats"> <%= render 'stats' %></p>
                  <p><%= render 'follow_form' if logged_in? %></p>
              </div>
          </section>

          <section class="details">
              <h2>詳細</h2>
              <ul class="clearfix">
                <li><%=link_to "プロフィール編集",edit_user_path(current_user),:method =>:get%></li>
                <li><%=link_to "コレクション一覧",recommendations_path,:method =>:get%></li>
                <li><%=link_to "コレクションの登録",new_recommendation_path,:method => :get %></li>
              </ul>
          </section>
        </div>
  </div>
