
<div class="user_wrapper">
  <div class="container">
    <div class="side_content">
      <div class="user_profile">
          <div class="user_profile_image">
            <div class="user_profile_image">

            </div>

          </div>
          <img src=<%= current_user.image %> class="current_user_image" >
          <h3><%= @user.name %></h3>

        <div class="user_menu">

        </div>
      </div>
    </div>
    <%=button_to "コミュニティ作成",new_group_path,:method => :get%>
    <%=button_to "コミュニティ一覧",groups_path , :method =>:get%>
    <%= link_to "イベント作成", new_event_path %>

</div>
</div>
