<header >
  <div class="container">
    <p>Arc+</p>
    <nav>
      <ul id = "access" class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",  root_path %></li>
        <li><%= link_to "Vision",   homes_about_path %></li>
        <li><%= link_to "Event" , events_index_path %></li>
        <li><%= link_to "Sign_up",  new_user_path %></li>
        <li><%= link_to "Log in", '#' %></li>
      </ul>
    </nav>
  </div>
</header>

<body>
  <div class = event-index-wrapper>
    <div class= event-index-container>
      <h5>events</h5>
      <div class=event-title>
        <p>title</p>
      </div>
      <div class="event-detail">
        ああああああああああああああ
      </div>
      <div class = "event-day">
        xx月yy日
      </div>

    </div>
  </div>
</body>
