<body class="index">
  <header >
    <div class="container">
      <p>Arc+</p>
      <nav>
        <ul id = "access" class="nav navbar-nav navbar-right">
          <li><%= link_to "Home",  root_path %></li>
          <li><%= link_to "Vision",   homes_about_path %></li>
          <li><%= link_to "Event" , events_index_path %></li>
          <li><%= link_to "Sign_up",  new_user_path %></li>
          <li><%= link_to "Login", login_path %></li>
          <% if logged_in? %>
						<li><%= link_to "logout",logout_path, method: :delete %>
						</li>
            <li>
              <%= link_to	user_path(current_user) do %>
                <img src=<%= current_user.image %> class="current_user_image" >
                <p><%= current_user.name %></p>
                <%end%>

            </li>
					<% end %>
        </ul>
      </nav>
    </div>
  </header>
  <div class="event_wrapper">
    <div class="container">
      <div class="main_content">

        <div class="events">
          <% last_date = nil  %>
          <% @events.each do |event| %>


              <div class="date_bar">

              </div>


            <div class="event">
              <div class="event_image">
                <%= link_to(event_path(event)) do %>
                  
                  <% if event.image? %>
                    <%= image_tag event.image.url,width: "220px", height: "130xp" %>
                  <% end %>
                <% end %>
              </div>
              <div class="event_detail">
                <%= link_to "#{event.title}",event_path(event), class: "event_title" %>
                <div class="event_site">
                </div>

                <div class="event_address">

                </div>
                <div class="event_owner">
                  <p><%= event.owner %></p>
                </div>
              </div>
            </div>
          <% end  %>
        </div>
        <div class="side_content">
        </div>
      </div>
    </div>
