<body class="about">
<header>
  <div class="container">
    <p>Arc+</p>
    <nav>
      <ul id = "access" class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",  root_path %></li>
        <li><%= link_to "Vision",   homes_about_path %></li>
        <li><%= link_to "Event", events_index_path %></li>
        <li><%= link_to "Sign_up",  new_user_path %></li>
        <li><%= link_to "Login", login_path%></li>
      </ul>
    </nav>
  </div>
</header>


<div class="about-wrapper">
  <div class="about-container">
    <h3>Vision</h3>
    <div class=one>
      <div class="square">
        <p>Arcは弧を意味している、これを架け橋とイメージする
          つまり人と人をつなぐ架け橋がArc
          繋がることで新しいものが生まれる
          つまりプラスすることで始まりを意味する
          つまり人と人とを繋ぎ、何かを＋するころで新しく希望となることが始まる
        </p>
      </div>
     </div>
     <div class="about2-container">
       <div class="two">
         <div class='square'>
           <p>しかし、繋ぐだけではまだ未完成。 Arcという言葉に、ある言葉を足すと虹となる。 Arc+はこの状態を“夢中”と定義する。 未完成を完全にするその言葉はciel(空)という言葉。 Ciel(空)には文脈がある。 泣くときもあれば笑う表情を見せる時もある。 この文脈が足された時に、
           </p>
         </div>
      </div>
     </div>
  </div>
</div>
<script type="text/javascript">
  $(function() {
    var $allMsg = $('h3');
    var $wordList = $('h3').html().split("");
    $('h3').html("");
    $.each($wordList, function(idx, elem) {
        var newEL = $("<span/>").text(elem).css({ opacity: 0 });
        newEL.appendTo($allMsg);
        newEL.delay(idx * 70);
        newEL.animate({ opacity: 1 }, 4100);
    });
});


</script>


</body>
