<!DOCTYPE html>
<html>
  <head>
    <title>Arc+.com</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                               'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application',
                               'data-turbolinks-track': 'reload' %>

    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>
  <body>
    <header>
      <div class="container">
        <p>Arc+</p>
        <nav>
          <ul id = "access" class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",  root_path %></li>
            <li><%= link_to "Vision",  homes_about_path %></li>
            <li><%= link_to "Event" , events_path%></li>
            <li><%= link_to "Sign_up",  new_user_path %></li>
            <li><%= link_to "Login", login_path  %></li>
            <% if logged_in? %>

              <li><%= link_to "logout",logout_path, method: :delete %>
              </li>
              <li>
                <%= link_to	user_path(current_user) do %>
                  <img src=<%= current_user.image %> class="current_user_image" >
                  <p><%= current_user.name %></p>
                  <%end%>
                </li>
            <% end %>
          </ul>

        </nav>
      </div>
    </header>

    <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
    <% end %>

    <%= yield %>
    <script>
  $(function(){
    $(".alert").fadeOut(5000);
  });
</script>

  </body>
</html>
