<!DOCTYPE html>
<html>
  <head>
    <title>Arc+.com</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                               'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application',
                               'data-turbolinks-track': 'reload' %>

    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>
  <body>
    <header>
      <div class="container">
        <p>Collections+</p>
        <nav>
          <ul id = "access" class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",  root_path, :style=>"color:black;"  %></li>

            <li><%= link_to "Sign_up",  new_user_path, :style=>"color:black;"  %></li>
            <li><%= link_to "Login", login_path, :style=>"color:black;"   %></li>
            <% if logged_in? %>
              <li><%=link_to "recommendation", recommendations_path,:style=> "color:black;" %></li>

              <li><%= link_to "logout",logout_path, method: :delete ,:style => "color:black;"%>
                </li>

            <% end %>
          </ul>

        </nav>
      </div>
    </header>

    <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
    <% end %>

    <%= yield %>
    <script>
  $(function(){
    $(".alert").fadeOut(5000);
  });
</script>

  </body>
</html>
